#
#       . Local .
#
make
smartass-build.log
tmp/

#
#       . Gradle .
#
gradlew
gradlew.bat
gradle/
build/

#
#       . Generated .
#
**/services/*

#
#       . Vim .
#
*.swp

#       . IntelliJ IDEA .
#
smartass-plugin.iml

.gradle/
.idea/
src/main/java/au/edu/uq/smartass/engine/
libs/
.DS_Store
question_output.tex
solution_output.tex
answer_output.text
