#
#       . Local .
#
.DS_Store
make
smartass-build.log
tmp/
libs/

#
#       . Gradle .
#
gradlew.bat

#
#       . Generated .
#
**/services/*
*.tex

#
#       . Vim .
#
*.swp

#
#       . IntelliJ IDEA .
#
.idea/
smartass-plugin.iml

#
#       . API interface file for PlugIns .
#
src/main/java/au/edu/uq/smartass/engine/QuestionModule.java

*.tex
